---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

{% include head.html %}

<body class="site">

	{% if site.google_tag_manager %}

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	{% endif %}

	{% include header.html %}

	{% if page.featured-img %}
	<div class="hero lazyload" data-bg="{{ site.baseurl }}/assets/img/posts/{{ page.featured-img }}.{{page.img-type}}">
		{% else %}
		<div class="hero dark-bg">
			{% endif %}
			<div class="hero__wrap">
				{% if post.tags or page.tags %}
				<div class="hero__categories">
					{% if post %}
					{% assign tags = post.tags %}
					{% else %}
					{% assign tags = page.tags %}
					{% endif %}
					{% for category in tags %}
					<a class="label" href="{{site.baseurl}}/tags/#{{category|slugize}}">{{category}}</a>
					{% unless forloop.last %}&nbsp;{% endunless %}
					{% endfor %}
				</div>
				{% endif %}
				<h1 class="hero__title">{{ page.title }}</h1>
				{% unless page.sticky %}
				<p class="hero__meta">
					<span>
						<time>{{ page.date | date_to_string }}</time>
					</span>
				</p>
				{% endunless %}
				{% if page.github %}
				<a href="{{ page.github }}" class="btn" target="_blank">GitHub Repository</a>
				{% endif %}
			</div>
		</div>

		<main class="site__content">
			<div class="container">
				<article class="post-content" itemprop="articleBody">
					{{ content }}
					<p></p>
					<h2>Contacts</h2>
					<p>If you want to keep updated with my latest articles and projects <a href="https://medium.com/@pierpaoloippolito28?source=post_page---------------------------" target="_blank" rel="noopener noreferrer">follow me on Medium</a> and
						subscribe to my <a href="http://eepurl.com/gwO-Dr?source=post_page---------------------------" target="_blank" rel="noopener noreferrer">mailing list</a>. These are some of my contacts details:</p>
					<ul>
						<li><a href="https://uk.linkedin.com/in/pier-paolo-ippolito-202917146?source=post_page---------------------------" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
						<li><a href="https://www.patreon.com/user?u=32155890" target="_blank" rel="noopener noreferrer">Patreon</a></li>
						<li><a href="https://towardsdatascience.com/@pierpaoloippolito28?source=post_page---------------------------" target="_blank" rel="noopener noreferrer">Medium Profile</a></li>
						<li><a href="https://github.com/pierpaolo28?source=post_page---------------------------" target="_blank" rel="noopener noreferrer">GitHub</a></li>
						<li><a href="https://www.kaggle.com/pierpaolo28?source=post_page---------------------------" target="_blank" rel="noopener noreferrer">Kaggle</a></li>
					</ul>
					<a href="https://www.buymeacoffee.com/pierpaolo" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;"></a>
					<p></p>
				</article>

				<div class="post-content controls__inner">
					<div class="controls__item prev">
						{% if page.previous.url %}

						<span>Previous</span>
						<a href="{{page.previous.url | relative_url }}">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="6" height="11">
									<path fill="fillColor" d="M5.647 1.718c.37-.434.323-1.09-.106-1.465A1.016 1.016 0 0 0 4.095.36L.25 4.875a1.05 1.05 0 0 0 .017 1.378l3.95 4.407c.38.424 1.03.456 1.448.07a1.05 1.05 0 0 0 .07-1.468l-3.34-3.725 3.253-3.819z" />
								</svg>
							</span>
							{{page.previous.title | strip_html | truncate: 30}}
						</a>
						{% endif %}
					</div>

					<div class="controls__item next">
						{% if page.next.url %}
						<span>Next</span>
						<a href="{{page.next.url | relative_url }}">
							{{page.next.title | strip_html | truncate: 30}}
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="6" height="11">
									<path fill="#fillColor" d="M.353 9.282c-.37.434-.323 1.09.106 1.465a1.016 1.016 0 0 0 1.446-.107L5.75 6.125a1.05 1.05 0 0 0-.017-1.378L1.784.34A1.015 1.015 0 0 0 .336.27a1.05 1.05 0 0 0-.07 1.468l3.34 3.725L.353 9.282z" />
								</svg>
							</span>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% if site.disqus.shortname %}

			<div class="comments" style="padding: 5px 0;">
				<div class="container" style="padding: 5px 0;">
					<div class="post-content" style="padding: 5px 0;">

						{% include disqus.html %}


					</div>
				</div>
			</div>

			{% endif %}

		</main>

		{% include footer.html %}
		{% include mathjax.html %}
</body>

<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>
	addBackToTop({
		diameter: 56,
		backgroundColor: '#313237',
		textColor: '#fff'
	})
</script>

</html>